body, html {
    font-size: 16px;
    font-family: "Segoe UI";
    background-color: #1b262c;
    color: antiquewhite;
    height: 100%;
    overflow: hidden;
}
@media screen and (min-width: 320px) {
    body, html {
      font-size: 18px;
    }
}
@media screen and (min-width: 1000px) {
    body, html {
      font-size: 22px;
    }
}

.logo {
    max-width: 40%;
    display: flex;
    flex-direction: column;

}

.container {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#companyName {
    text-align: left;
}

.footer {
    position: fixed;
    bottom: 0;
}
